@font-face {
  font-family: 'Looney-Tunes-Tilt-BT';
  src: url("../fonts/Looney Tunes Tilt BT.ttf"); }

main {
  background-color: #3F5C93;
  border: 3px solid #e6e6e6;
  border-radius: 10px;
  height: auto; }
  main section {
    width: 96%;
    background-color: #CE0000;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 10px 10px 10px #000;
    height: 95%;
    width: 96%; }
    main section header {
      margin: 10px 0 5px 0;
      color: white;
      text-align: center;
      text-shadow: 1px 1px 10px blue;
      font-weight: bold;
      letter-spacing: 1px; }
      main section header h2 {
        font-family: 'Looney-Tunes-Tilt-BT'; }
    main section h3 {
      font-family: 'Looney-Tunes-Tilt-BT';
      margin: 5px; }
    main section p {
      margin: 5px; }
    main section .small-article {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      margin: 10px;
      padding-bottom: 10px;
      border: 1px solid white;
      border-bottom-right-radius: 20px;
      border-top-left-radius: 20px;
      -webkit-transition-property: background-color;
      /* Safari */
      -webkit-transition-duration: 1s;
      /* Safari */
      transition-property: background-color;
      transition-duration: 1s; }
      main section .small-article:hover {
        background-color: #23395e; }
      main section .small-article img {
        width: 90%;
        border-radius: 18px;
        margin: 18px;
        display: block;
        margin: 0 auto; }
      main section .small-article p {
        margin-top: 6px;
        text-align: center;
        color: white; }
    main section .horizontal-article {
      background-color: cornflowerblue;
      margin: 10px auto;
      border-radius: 10px;
      border: 1px solid #e6e6e6;
      box-shadow: 10px 10px 10px #000;
      height: 95%;
      width: 96%;
      -webkit-transition-property: background-color;
      /* Safari */
      -webkit-transition-duration: 1s;
      /* Safari */
      transition-property: background-color;
      transition-duration: 1s; }
      main section .horizontal-article:hover {
        background-color: #23395e; }
      main section .horizontal-article img {
        display: inline-block;
        vertical-align: central;
        width: 25%;
        margin: 15px;
        border-radius: 130px; }
      main section .horizontal-article .info-container {
        display: inline-block;
        vertical-align: top;
        width: 70%;
        text-align: center; }
        main section .horizontal-article .info-container p {
          margin-top: 6px;
          text-align: center;
          color: white; }
          main section .horizontal-article .info-container p:last-child {
            vertical-align: bottom;
            margin: 0 auto;
            color: greenyellow;
            text-align: right; }

@media screen and (max-width: 1024px) {
  body > #wrapper > main > section .small-article {
    margin: 7px; }
  body > #wrapper > main > section .horizontal-article > .info-container {
    width: 65%; } }

@media screen and (max-width: 960px) {
  body > #wrapper > main > section .small-article {
    width: 45%;
    background-color: #23395e; } }

@media screen and (max-width: 768px) {
  body > #wrapper > main > section .small-article {
    width: 96%; }
    body > #wrapper > main > section .small-article img {
      width: 70%; } }

@media screen and (max-width: 640px) {
  body > #wrapper > main > section {
    box-shadow: none;
    margin: 10px auto; }
    body > #wrapper > main > section .small-article {
      width: 96%; }
      body > #wrapper > main > section .small-article img {
        width: 70%; }
    body > #wrapper > main > section .horizontal-article {
      box-shadow: none; } }

@media screen and (max-width: 480px) {
  body > #wrapper > main > section .horizontal-article p:last-child {
    text-align: center; }
  body > #wrapper > main > section .horizontal-article img {
    vertical-align: central; } }

