#wrapper{
	background-color:#DDD;
	float:left;
}

#wrapper > header{
	font-family:verdana;
	font-weight:bold;
	color:#003366;
	font-size: 1.3em;
	padding: 7px;
}

p{
	color:#777;
}

input[type=text],input[type=password]{
	height: 22px;
	margin:4px;
	width:97%;
	float:left;
}
input[type=checkbox] + label{
	color:white;
	font-size: 0.7em;
	vertical-align:top;
}
input[type=submit]{
	border-color:orange;
	background-color:#003366;
	width:100px;
	height:30px;
	float:right;
	color:white;
}
.register > input[type=submit]{
	background-color:white;
	border-color:#003366;
	color:#003366;
}

.register, .login{
	vertical-align:top;
	display: inline-block;
	width:250px;
	height:300px;
	padding: 10px;
	padding-right:20px;
	margin: 10px;
	
}
.register > header{
	color:gray;
	font-family:verdana;
	font-weight:bold;
	font-size: 13px;
	text-transform: uppercase;
}
.register > header ,.login > header{
	font-family:verdana;
	font-weight:bold;
	font-size: 13px;
	text-transform: uppercase;
}
.register > header > a{
	text-decoration:none;
	color:#003366;
}
.login > header, .login > header > a{
	color:white;
	text-decoration:none;
}
.login {
	background-color:#003366;
}

.login > a{
	float:right;
	font-size: 0.9em;
	color:white;
}


